@use "/styles/main.scss" as *;

.lookup {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
  background-color: #000;
  padding: toRem(27) toRem(31);

  &__inner {
    padding: toRem(56) toRem(30);

    &__wrapper {
      display: flex;
      justify-content: space-between;

      &__left {
        display: flex;
        flex-direction: column;
        gap: toRem(16);

        &__heading {
          width: toRem(491);
          color: #ffffff;
          font-size: toRem(58);
          font-style: normal;
          font-weight: 600;
          line-height: toRem(58);
        }

        &__tab {
          height: fit-content;
          width: toRem(231);
          display: flex;
          align-items: center;
          background-color: #000d00;
          width: fit-content;
          border-radius: toRem(10);
          border: toRem(1) solid #25272d;
          padding: toRem(10) toRem(6);
          position: relative;
          overflow: hidden;
          gap: toRem(0);

          &__slider {
            position: absolute;
            top: 0.4rem;
            left: 0.4rem;
            height: calc(100% - 0.8rem);
            width: toRem(113);
            background-color: #172826;
            border-radius: toRem(10);
            transition: transform 0.3s ease-in-out;
          }

          &__liquidity-pool,
          &__futures {
            font-size: toRem(16);
            cursor: pointer;
            padding: toRem(10) !important;
            border-radius: toRem(10);
            line-height: toRem(16);
            width: toRem(113) !important;
            font-weight: 400;
            text-align: center;
            transition: color 0.3s ease-in;
            position: relative;
            z-index: 1;
            color: #0effdf;
          }

          &__liquidity-pool.active,
          &__futures.active {
            background-color: transparent;
            color: #0effdf;
          }

          &.futures-active {
            .lookup__inner__wrapper__left__tab__slider {
              transform: translateX(calc(100% + 0rem));
            }
          }
        }
      }

      &__right {
        width: toRem(614);
        height: toRem(168);
        border-radius: toRem(10);
        border: toRem(1) solid #25272d;
        padding: toRem(25);

        display: flex;
        flex-direction: column;
        gap: toRem(15);

        &__heading {
          color: #ffffff;
          font-size: toRem(24);
          font-style: normal;
          font-weight: 500;
          line-height: toRem(16);
        }

        &__sub {
          color: #5b5b5b;
          font-size: toRem(18);
          font-style: normal;
          font-weight: 400;
          line-height: toRem(16);
        }

        &__flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: toRem(5);

          &__wrapper {
            display: flex;
            align-items: center;
            gap: toRem(18);
          }

          &__button {
            border-radius: toRem(10);
            background-color: #0effdf;
            box-sizing: border-box;
            padding: toRem(14) toRem(21);

            color: #00071a;
            font-family: var(--font-mada);
            font-size: toRem(16);
            font-style: normal;
            font-weight: 400;
            line-height: toRem(16);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: #00c45a;
            }
          }
        }
      }
    }
  }
}
