@use "/styles/main.scss" as *;

.notes {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
  background-color: #000;
  padding: toRem(27) toRem(31);

  &__top {
    display: flex;
    flex-direction: column;
    gap: toRem(16);
    margin-top: toRem(43);

    &__notes {
      color: #00b8a1;
      font-size: toRem(20);
      font-style: normal;
      font-weight: 400;
      line-height: toRem(16);
    }

    &__heading {
      color: #ffffff;
      font-size: toRem(48);
      font-style: normal;
      font-weight: 600;
      line-height: toRem(48);
    }
  }

  &__wrapper {
    margin-top: toRem(21);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      min-height: toRem(1549);
      overflow-y: scroll;
      width: 19.25%;

      border-radius: toRem(10);
      border: toRem(1) solid #25272d;

      padding: toRem(14) toRem(14);

      &__button {
        box-sizing: border-box;
        padding: toRem(14) toRem(21);
        border-radius: toRem(10);
        background: #0effdf;
        outline: none;
        cursor: pointer;

        color: #00071a;
        font-size: toRem(16);
        font-style: normal;
        font-weight: 400;
        line-height: toRem(16);
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #00c45a;
        }
      }

      &__stack {
        display: flex;
        flex-direction: column;
        gap: toRem(9);
        align-items: center;
        margin-top: toRem(21);

        &__note {
          box-sizing: border-box;
          padding-top: toRem(17);
          padding-left: toRem(21);
          padding-right: toRem(13);
          padding-bottom: toRem(15);
          cursor: pointer;

          display: flex;
          flex-direction: column;
          gap: toRem(5);

          border-radius: toRem(10);
          background-color: #172826;
          width: 100%;

          &--active {
            border: toRem(1) solid #0effdf;
          }

          &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__text {
              color: #ffffff;
              font-size: toRem(20);
              font-style: normal;
              font-weight: 600;
              line-height: toRem(18);
            }

            &__icon {
              width: toRem(24);
              height: toRem(24);
              cursor: pointer;
              transition: all 0.3s ease-in-out;

              path {
                stroke: #007566;
              }

              &:hover {
                path {
                  stroke: #0effdf;
                }
              }
            }
          }

          &__details {
            color: #007566;
            font-size: toRem(14);
            font-style: normal;
            font-weight: 400;
            line-height: toRem(16);
          }
        }
      }
    }

    // &__right {
    //   min-height: toRem(1549);
    //   width: 80.25%;

    //   border-radius: toRem(10);
    //   border: toRem(1) solid #25272d;
    // }
  }
}
