@use "/styles/main.scss" as *;

.portfolio {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
  background-color: #000;
  padding: toRem(27) toRem(31);

  &__top {
    display: flex;
    padding-top: toRem(56);

    &__text {
      color: #00b8a1;
      font-size: toRem(20);
      font-style: normal;
      font-weight: 400;
      line-height: toRem(16);
    }
  }

  &__cont {
    min-height: toRem(652);
    width: 100%;
    border-radius: toRem(10);
    border: toRem(1) solid #25272d;
    padding-top: toRem(34);
    padding-left: toRem(37);
    padding-right: toRem(37);
    padding-bottom: toRem(30);
    margin-top: toRem(34);

    &__heading {
      color: #fff;
      font-size: toRem(24);
      font-style: normal;
      font-weight: 600;
      line-height: toRem(16);
      text-align: left;
    }

    &__tab {
      margin-top: toRem(30);
      height: fit-content;
      width: toRem(231);
      display: flex;
      align-items: center;
      background-color: #000d00;
      width: fit-content;
      border-radius: toRem(10);
      border: toRem(1) solid #25272d;
      padding: toRem(10) toRem(6);
      position: relative;
      overflow: hidden;
      gap: toRem(0);

      &__slider {
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
        height: calc(100% - 0.8rem);
        width: toRem(113);
        background-color: #172826;
        border-radius: toRem(10);
        transition: transform 0.3s ease-in-out;
      }

      &__personal,
      &__protocol-wide,
      &__liquidity-pool,
      &__futures {
        font-size: toRem(16);
        cursor: pointer;
        padding: toRem(10) !important;
        border-radius: toRem(10);
        line-height: toRem(16);
        width: toRem(113) !important;
        font-weight: 400;
        text-align: center;
        transition: color 0.3s ease-in;
        position: relative;
        z-index: 1;
        color: #0effdf;
      }

      &__personal.active,
      &__protocol-wide.active,
      &__liquidity-pool.active,
      &__futures.active {
        background-color: transparent;
        color: #0effdf;
      }

      &.protocol-wide-active {
        .portfolio__cont__tab__slider {
          transform: translateX(calc(100% + 0rem));
        }
      }

      &.futures-active {
        .portfolio__cont__tab__slider {
          transform: translateX(calc(100% + 0rem));
        }
      }
    }

    &__lgWrapper {
      margin-top: toRem(48);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__left {
        min-width: 24%;
        min-height: toRem(153);
        border-radius: toRem(10);
        border: toRem(1) solid #25272d;
        padding: toRem(15) toRem(32);

        &__heading {
          color: #ffffff;
          font-size: toRem(18);
          font-style: normal;
          font-weight: 600;
          line-height: toRem(18);
        }

        &__wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: toRem(20);

          &__left {
            display: flex;
            flex-direction: column;
            gap: toRem(8);

            &__heading {
              color: #ffffff;
              font-size: toRem(36);
              font-style: normal;
              font-weight: 600;
              line-height: toRem(36);
            }

            &__sub {
              color: #bababa;
              font-size: toRem(14);
              font-style: normal;
              font-weight: 400;
              line-height: toRem(16);
            }
          }
        }
      }

      &__right {
        min-width: 75.2%;
        min-height: toRem(153);
        border-radius: toRem(10);
        border: toRem(1) solid #25272d;
        padding: toRem(15) toRem(32);

        &__top {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__heading {
            color: #ffffff;
            font-size: toRem(18);
            font-style: normal;
            font-weight: 600;
            line-height: toRem(18);
          }

          &__readOnly {
            box-sizing: border-box;
            width: toRem(62);
            height: toRem(26);
            border-radius: toRem(100);
            text-align: center;
            background-color: #007566;
            padding: toRem(4) toRem(8);

            color: #ffffff;
            font-size: toRem(11);
            font-style: normal;
            font-weight: 400;
            line-height: toRem(18);
          }
        }
      }
    }

    &__tableWrapper {
      display: flex;
      flex-direction: column;
      gap: toRem(14);
      margin-top: toRem(26);

      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__heading {
          color: #ffffff;
          font-size: toRem(18);
          font-style: normal;
          font-weight: 500;
          line-height: toRem(16);
        }

        &__right {
          display: flex;
          align-items: center;
          gap: toRem(49);

          &__refresh {
            display: flex;
            align-items: center;
            gap: toRem(9);

            &__text {
              color: #0effdf;
              font-size: toRem(18);
              font-style: normal;
              font-weight: 600;
              line-height: toRem(16);
              text-decoration: underline;
              cursor: pointer;
            }

            &__icon {
              width: toRem(24);
              height: toRem(24);
              cursor: pointer;
            }
          }

          &__timeframe {
            display: flex;
            align-items: center;
            gap: toRem(15);

            padding: toRem(10) toRem(17);
            border: toRem(1) solid #25272d;
            background-color: #000d00;
            border-radius: toRem(10);
            cursor: pointer;

            &__text {
              color: #ffffff;
              font-size: toRem(16);
              font-style: normal;
              font-weight: 400;
              line-height: toRem(16);
              text-transform: uppercase;
            }

            &__arrow {
              width: toRem(24);
              height: toRem(24);
            }
          }
        }
      }
    }

    &__smWrapper {
      margin-top: toRem(17);
      display: flex;
      align-items: center;
      gap: toRem(11);

      &__left {
        min-width: toRem(174);
        min-height: toRem(114);
        border-radius: toRem(10);
        border: toRem(1) solid #25272d;
        padding: toRem(15) toRem(26);

        &__heading {
          color: #ffffff;
          font-size: toRem(18);
          font-style: normal;
          font-weight: 600;
          line-height: toRem(18);
        }

        &__wrapper {
          &__left {
            margin-top: toRem(12);

            &__heading {
              color: #ffffff;
              font-size: toRem(36);
              font-style: normal;
              font-weight: 600;
              line-height: toRem(36);
            }

            &__sub {
              color: #bababa;
              font-size: toRem(14);
              font-style: normal;
              font-weight: 400;
              line-height: toRem(16);
            }
          }
        }
      }

      &__right {
        min-width: toRem(174);
        min-height: toRem(114);
        border-radius: toRem(10);
        border: toRem(1) solid #25272d;
        padding: toRem(15) toRem(26);

        &__heading {
          color: #ffffff;
          font-size: toRem(18);
          font-style: normal;
          font-weight: 600;
          line-height: toRem(18);
        }

        &__wrapper {
          &__left {
            margin-top: toRem(12);

            &__heading {
              color: #ffffff;
              font-size: toRem(36);
              font-style: normal;
              font-weight: 600;
              line-height: toRem(36);
            }

            &__sub {
              color: #bababa;
              font-size: toRem(14);
              font-style: normal;
              font-weight: 400;
              line-height: toRem(16);
            }
          }
        }
      }
    }
  }
}
