@use "/styles/main.scss" as *;

.noteEditor {
  min-height: toRem(1549);
  width: 80.25%;
  position: relative;

  border-radius: toRem(10);
  border: toRem(1) solid #25272d;
  padding: toRem(14);

  &__toolbar {
    height: toRem(61);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__popover {
      box-sizing: border-box;
      width: toRem(118);
      height: toRem(37);
      background-color: #ffffff;
      border-radius: toRem(3);
      position: relative;
      top: toRem(0);
      right: toRem(46);
      z-index: 100;
      padding: toRem(6) toRem(7);
      @include flex(center, center, toRem(2));
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
      }

      &__icon {
        width: toRem(24);
        height: toRem(24);
      }

      &__text {
        font-family: var(--font-inter);
        font-size: toRem(16);
        font-weight: 500;
        line-height: toRem(19.36);
        color: #fe3a3a;
      }
    }

    &__flexFirst {
      @include flex(flex-start, center, toRem(33));
    }

    &__flexFormat {
      box-sizing: border-box;
      width: toRem(461);
      height: toRem(40);
      border-radius: toRem(10);
      background-color: #031a0d;
      box-shadow: toRem(3) toRem(3) toRem(40) toRem(10) #25272d26;
      padding: toRem(12.5) toRem(24);
      //   margin-left: toRem(88);
      //   margin-right: toRem(48);

      display: flex;
      align-items: center;
      justify-content: space-between;

      &__button {
        width: toRem(32);
        height: toRem(32);
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-radius: toRem(7);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #007566 !important;

          p {
            color: #0effdf !important;
          }

          svg {
            path {
              stroke: #0effdf !important;
            }
          }
        }

        //   svg {
        //     width: toRem(28);
        //     height: toRem(28);
        //     stroke: #007566;
        //   }

        &__text {
          font-family: var(--font-inter);
          font-size: toRem(20);
          font-weight: 400;
          line-height: toRem(36.31);

          span {
            font-family: var(--font-inter);
            font-size: toRem(12);
            font-weight: 400;
            line-height: toRem(19.36);
          }
        }

        svg {
          width: toRem(18);
          height: toRem(18);
        }
      }
    }

    &__button {
      width: toRem(40);
      height: toRem(40);
      background-color: #172826;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border-radius: toRem(7);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &--share {
        background-color: transparent;
      }

      &--undo {
        background-color: transparent;
      }

      &--redo {
        background-color: transparent;
      }

      &--check {
        background-color: transparent;
      }

      &:hover {
        background-color: #007566;

        svg {
          fill: #0effdf;
        }
      }

      svg {
        width: toRem(24);
        height: toRem(24);
        fill: #007566;
      }

      &--stroke {
        &:hover {
          svg {
            stroke: #0effdf;
            fill: none;
          }
        }

        svg {
          stroke: #007566;
          fill: none;
        }
      }

      &--more {
        background-color: transparent;

        svg {
          fill: none;
          stroke: #007566;
        }

        &:hover {
          svg {
            stroke: #0effdf !important;
            fill: none;
          }
        }
      }
    }
  }

  &__editor {
    padding-top: toRem(56);
    padding-left: toRem(91);
    padding-right: toRem(30);
    padding-bottom: toRem(56);
    color: #ffffff;
    min-height: 100%;
    min-width: 100%;
    overflow-y: "auto";
    outline: none;
    border: none;
  }
}
